body{
    font-family: Arial Rounded MT;
    background: linear-gradient(to right,#583D72,#9F5F80);
    height: 100vh;
    
    
}
.heading{
    margin-top: 30vh;
}
.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
}
a{
    color:white;
    font-size: 4vh;
    
}
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
    
.dice {
    text-align: center;
    display: inline-block;
  
  }
  .img{
      width: 80%;
  }
  .text{
      text-align: center;
      font-size: 4vh;
      color: white;
  }
  #start{
      margin-top: 20vh;
  }
  #refresh{
      margin-top: 10vh;
  }
  #single{
    margin-top: 10vh;
  }
  h1{
    text-align: center;
    font-size: 6vh;
    color: white;
  }
  h2{
    text-align: center;
    font-size: 6vh;
    color: white;
  }
  .refresh{
    text-align: center;
  }
  .btn{
      background-color: #411d3c;
      font-size: 4vh;
      color: white;
      cursor: pointer;
      border-radius: 10px;
  }
  .btn:hover{
    background-color: #3fc80e;
  }